[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  # NPM_FLAGS = "--version" # 캐시 문제 방지
  # NODE_ENV = "production"

[[edge_functions]]
  path = "/api/discogs/verify-token"
  function = "verify-token"

[[edge_functions]]
  path = "/api/discogs/search"
  function = "discogs-search"

[[edge_functions]]
  path = "/api/discogs/release/*"
  function = "discogs-release"

[[edge_functions]]
  path = "/api/gist"
  function = "gist-save"

[[edge_functions]]
  path = "/api/gist/load"
  function = "gist-load"

[[edge_functions]]
  path = "/api/image-proxy"
  function = "image-proxy"

[[edge_functions]]
  path = "/api/auth/dropbox/token"
  function = "dropbox-token"

[[edge_functions]]
  path = "/api/auth/google/token"
  function = "google-token"

[[edge_functions]]
  path = "/api/dropbox/proxy"
  function = "dropbox-proxy"

[[edge_functions]]
  path = "/api/google/proxy"
  function = "google-proxy"
